.App {
  text-align: center;
}

/* Full-page gradient background */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, lab(27.72% 5.53 -36.04), #d9e8fd);
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
