/* Full-page background setup */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f0f4f8, #d9e8fd);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
